<%= form_for(@service) do |f| %>
  <div class="field">
    <%= f.label "Название" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Оисание" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Цена" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit "Добавить", class: "btn btn-lg btn-style btn-block" %>
  </div>
<% end %>
