<div class="form-signin">
  <%= form_tag do %>
  <h2 class="form-signin-heading">Авторизируйтесь</h2>
  <div class="field">
    <%= label_tag :name, 'Имя:', class: "sr-only" %>
    <%= text_field_tag :name, params[:name], id: "inputEmail", class: "form-control", type: "login", placeholder: "Имя", required: "", autofocus: "", autocomplete: "off" %>
  </div>
  <div class="field">
    <%= label_tag :password, 'Пароль:', class: "sr-only" %>
    <%= password_field_tag :password, params[:password], type: "password", id: "inputPassword", class: "form-control", placeholder: "Пароль", required: "", autocomplete: "off" %>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Запомнить меня
    </label>
  </div>
    <%= submit_tag "Вход", class: "btn btn-lg btn-style btn-block" %>
  <% end %>
</div>
