<% provide(:title, 'Группы') %>

<div class="panel panel-default">
  <div class="panel-heading">Список групп товаров
    <div class="navbar-right-c">
      <%= link_to 'Добавить группу', new_group_path, class: "btn btn-primary" %>
    </div>
    <div class="clear"></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="94%">Группа</th>
        <th width="1%">Действие</th>
      </tr>
    </thead>
    <tbody>
<% @groups.each do |group| %>
    <tr>
      <td><%= group.id %></td>
      <td><%= link_to group.title, group, title: "Просмотреть" %><br><br></td>
      <td>
        <%= link_to '', edit_group_path(group), class: "glyphicon glyphicon-pencil", title: "Редактировать" %> <%= link_to '', group, method: :delete, data: { confirm: 'Вы уверены?' }, class: "glyphicon glyphicon-trash", title: "Удалить" %>
      </td>
    </tr>
<% end %>
  </tbody>
  </table>
</div>
<%= will_paginate @groups, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>
