<% provide(:title, 'Каталог услуг') %>

<div class="panel panel-default">
  <div class="panel-heading">Каталог услуг
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="text-align: center;" width="5%">#</th>
        <th width="23%">Товар</th>
        <th width="53%">Описание</th>
        <th style="text-align: center;" width="12%">Цена</th>
        <th style="text-align: center;" width="1%">Действие</th>
      </tr>
    </thead>
    <tbody>
<% @services.each do |service| %>
    <tr>
      <td style="text-align: center;"><%= service.id %></td>
      <td><%= service.title %></td>
      <td><%= strip_tags(service.description).truncate(100) %></td>
      <td style="text-align: center;"><%= number_to_currency(service.price, :unit => "", :delimiter => " ", :format => "%n %u", :precision => 2) %>
      </td>
      <td style="text-align: center;">
        <%= button_to line_services_path(service_id: service),
        remote: true, class: "btn btn-success" do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
  </table>
</div>
<%= will_paginate @services, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>
