<%= form_for(@order) do |f| %>
<% if @order.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>
    <div class="panel-body" >
      <ul class="list-unstyled">
        <% @order.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

  <div class="field">
    <%= f.label "Ваше имя" %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label "Адрес" %><br>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label "Телефон" %><br>
    <%= f.text_field :phone, placeholder: "Вида: 89876543210", size: 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: "example@example.ru", size: 40 %>
  </div>
  <div class="field">
    <%= f.label "Способ оплаты" %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES,
      prompt: 'Выберите метод оплаты' %>
  </div>
  <div class="actions">
    <%= f.submit "Отправить заказ" %>
  </div>
<% end %>
