<%= form_for(@order) do |f| %>
<% if @order.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>
    <div class="panel-body" >
      <ul class="list-unstyled">
        <% @order.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :pay_type %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES,
      prompt: 'Выберите метод оплаты' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
