<% provide(:title, 'Заказы') %>

<%= link_to 'Добавить заказ', new_order_path, class: "btn btn-primary" %>
<br><br>
<% @orders.each do |order| %>
<div class="panel panel-default">
  <div class="panel-heading"><h4><%= order.name %></h4><h6><%= order.created_at %></h6></div>
  <div class="panel-body"h>
    <dl class="dl-horizontal">
      <dt>Телефон:</dt>
      <dd><%= order.phone %></dd>
      <dt>Адрес:</dt>
      <dd><%= order.address %></dd>
      <dt>E-mail:</dt>
      <dd><%= order.email %></dd>
      <dt>Способ оплаты:</dt>
      <dd><%= order.pay_type %></dd>
      <dt>Заказ:</dt>
      <dd>
        <% order.line_items.each do |item| %>
                <%= item.quantity %> x <%= item.product.title %> = <%= item.total_price %><br>
        <% end %>
        <% order.line_services.each do |item| %>
                <%= item.quantity %> x <%= item.service.title %> = <%= item.total_price %><br>
        <% end %>
      </dd>
      <dt>Сумма:</dt>
      <dd>
        <%= order.line_items.map(&:total_price).sum %>
      </dd>
    </dl>
  </div>
  <div class="panel-footer">
    <%= link_to 'Показать', order %> |
    <%= link_to 'Редактировать', edit_order_path(order) %> |
    <%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>
