<%= form_for(@subgroup) do |f| %>
<% if @subgroup.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      The form contains <%= pluralize(@subgroup.errors.count, "error") %>.
    </div>
    <div class="panel-body" >
      <ul class="list-unstyled">
        <% @subgroup.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field checkbox">
    <label>
       <%= f.check_box :show %>
       Показывать в меню
    </label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
