<% provide(:title, 'Группы') %>

<div class="panel panel-default">
  <div class="panel-heading">Список подгрупп товаров
    <div class="navbar-right-c">
      <%= link_to 'Добавить подгруппу', new_subgroup_path, class: "btn btn-primary" %>
    </div>
    <div class="clear"></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="94%">Группа</th>
        <th width="1%">Действие</th>
      </tr>
    </thead>
    <tbody>
<% @subgroups.each do |subgroup| %>
    <tr>
      <td><%= subgroup.id %></td>
      <td><%= link_to subgroup.title, subgroup, title: "Просмотреть" %><br><br></td>
      <td>
        <%= link_to '', edit_subgroup_path(subgroup), class: "glyphicon glyphicon-pencil", title: "Редактировать" %> <%= link_to '', subgroup, method: :delete, data: { confirm: 'Вы уверены?' }, class: "glyphicon glyphicon-trash", title: "Удалить" %>
      </td>
    </tr>
<% end %>
  </tbody>
  </table>
</div>
<%= will_paginate @subgroups, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>
