<% provide(:title, 'Комплект ' + @solution.title) %>

<div class="row thumbnail">
  <div class="page-header">
    <h2 class="text-center">
      <small><%= @solution.id.to_s + '#' %></small> <%= @solution.title %><br>
    </h2>
  </div>
  <div class="text-center">
    <span class="badge">Цена: <%= number_to_currency(@solution.price + price_summ(@lines), :unit => "руб.", :delimiter => " ", :format => "%n %u", :precision => 2) %></span>
  </div>
  <%= image_tag(@solution.sol_img.medium.url, class: "img-responsive") if @solution.sol_img? %>
  <div class="caption"><%= form_user_text(@solution.description)  %></div>
  <div class="caption">
    <h4><strong>Комплектация:</strong></h4>
    <% @lines.each do |item| %>
    <p><%= item.product.title.to_s + ' x' + item.quantity.to_s %></p>
    <% end %>
  </div>
  <div class="caption">
    <ul class="list-inline">
      <li>
        <%= link_to "Назад", "#", onclick: "history.back()", class: "btn btn-warning" %>
      </li>
      <li>
        <%= link_to 'Редактировать', edit_solution_path(@solution), class: "btn btn-success" %>
      </li>
      <li>
        <%= link_to 'Удалить', solution_path, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</div>
