<p id="notice"><%= notice %></p>

<h1>Listing Search Engiens</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Head</th>
      <th>Footer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_engiens.each do |search_engien| %>
      <tr>
        <td><%= search_engien.title %></td>
        <td><%= search_engien.head %></td>
        <td><%= search_engien.footer %></td>
        <td><%= link_to 'Show', search_engien %></td>
        <td><%= link_to 'Edit', edit_search_engien_path(search_engien) %></td>
        <td><%= link_to 'Destroy', search_engien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search engien', new_search_engien_path %>
