<% provide(:title, 'Каталог') %>


<%= link_to 'Добавить позицию', new_product_path, class: "btn btn-primary" %>
<br><br>
<% @products.each do |product| %>
<div class="row thumbnail margin-clear">
  <div class="col-xs-4"><%= image_tag(product.image.medium.url, class: "img-responsive") if product.image? %></div>
  <div class="col-xs-8 caption">
    <h2><%= product.title %> <span class="badge"><%= product.price %> руб.</span></h2>
    <p><%= strip_tags(product.description).truncate(200) %></p>
    <p>
    <%= link_to 'Подробнее', product, class: "btn btn-default" %>
    <%= link_to 'Редактировать', edit_product_path(product), class: "btn btn-success" %></td>
    <%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
  </p>
  </div>
</div>
<% end %>
