<% provide(:title, 'Группы') %>

<div class="panel panel-default">
  <div class="panel-heading">Каталог товаров
    <div class="navbar-right-c">
      <%= link_to 'Добавить позицию', new_product_path, class: "btn btn-primary" %>
    </div>
    <div class="clear"></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="20%">Товар</th>
        <th width="45%">Описание</th>
        <th width="23%">Цена</th>
        <th width="1%">Действие</th>
      </tr>
    </thead>
    <tbody>
<% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= link_to product.title, product, title: "Просмотреть" %><br><br></td>
      <td><%= strip_tags(product.description).truncate(100) %></td>
      <td>Розничная: <%= number_to_currency(product.price, :unit => "", :delimiter => " ", :format => "%n %u", :precision => 2) %>
      <br>Оптовая: <%= number_to_currency(product.subprice, :unit => "", :delimiter => " ", :format => "%n %u", :precision => 2) %></td>
      <td>
        <%= link_to '', edit_product_path(product), class: "glyphicon glyphicon-pencil", title: "Редактировать" %> <%= link_to '', product, method: :delete, data: { confirm: 'Вы уверены?' }, class: "glyphicon glyphicon-trash", title: "Удалить" %>
      </td>
    </tr>
<% end %>
  </tbody>
  </table>
</div>
<%= will_paginate @products, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>
