<% provide(:title, 'Каталог') %>

<div class="panel panel-default">
  <div class="panel-heading">Каталог товаров
    <div class="navbar-right-c">
      <%= link_to 'Добавить позицию', new_product_path, class: "btn btn-primary" %>
    </div>
    <div class="clear-r"></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="text-align: center;" width="5%">#</th>
        <th width="23%">Товар</th>
        <th width="53%">Описание</th>
        <th style="text-align: center;" width="12%">Цена</th>
        <th style="text-align: center;" width="1%">Действие</th>
      </tr>
    </thead>
    <tbody>
<% @products.each do |product| %>
    <% if correct_source(product) %>
    <tr class="danger" >
    <% else %>
    <tr>
    <% end %>
      <td style="text-align: center;"><%= product.id %></td>
      <td><%= link_to product.title, product, title: "Просмотреть" %></td>
      <td><%= strip_tags(product.description).truncate(100) %></td>
      <td style="text-align: center;"><%= number_to_currency(product.price, :unit => "", :delimiter => " ", :format => "%n %u", :precision => 2) %>
      </td>
      <td style="text-align: center;">
        <%= link_to '', edit_product_path(product), class: "glyphicon glyphicon-pencil", title: "Редактировать" %> <%= link_to '', product, method: :delete, data: { confirm: 'Вы уверены?' }, class: "glyphicon glyphicon-trash", title: "Удалить" %>
      </td>
    </tr>
<% end %>
  </tbody>
  </table>
</div>
<%= will_paginate @products, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>
