<% provide(:title, 'Каталог') %>


<%= link_to 'Добавить позицию', new_product_path, class: "btn btn-primary" %>
<br><br>
<% @products.each do |product| %>
<div class="row thumbnail margin-clear">
  <div class="media-left media-middle media-float">
    <%= image_tag(product.image.medium.url, class: "img-responsive") if product.image? %>
  </div>
  <div class="media-body">
    <h2>
      <%= product.title %><br>
      <span class="badge"><%= number_to_currency(product.price, :unit => "руб.", :delimiter => " ", :format => "%n %u", :precision => 2) %></span>
    </h2>
    <p><%= strip_tags(product.description).truncate(200) %></p>
    <p>
    <%= link_to 'Подробнее', product, class: "btn btn-default" %>
    <%= link_to 'Редактировать', edit_product_path(product), class: "btn btn-success" %>
    <%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
  </p>
  </div>
</div>
<% end %>
<%= will_paginate @products, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>
