<% provide(:title, 'Каталог') %>

<%= will_paginate @products, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед" %>

<% @products.each do |product| %>
<div class="row thumbnail margin-clear">
  <div class="col-xs-4"><%= image_tag(product.image.medium.url, class: "img-responsive") if product.image? %></div>
  <div class="col-xs-8 caption">
    <h2>
      <%= product.title %><br>
      <span class="badge"><%= sprintf("%0.02f руб.", product.price) %></span>
    </h2>
    <p><%= strip_tags(product.description).truncate(200) %></p>
    <p>
      <!--<%= link_to 'Подробнее', product, class: "btn btn-default" %>
      <%= link_to 'Редактировать', edit_product_path(product), class: "btn btn-success" %></td>
      <%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %> -->
      <%= button_to 'В корзину', line_items_path(product_id: product),
        remote: true, class: "btn btn-success" %>
      <%= link_to 'Подробнее', store_path(product.id) , class: "btn btn-default" %>
    </p>
  </div>
</div>
<% end %>
<%= will_paginate @products, class: "pagginate-bottom", previous_label: "Назад", next_label: "Вперед" %>
<div class="pagginate-bottom"><%= page_entries_info @products %></div>
<% #end %>
