<% provide(:title, 'Каталог') %>

<%= will_paginate @products, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>

<% @products.each do |product| %>
<div class="row thumbnail margin-clear">
  <div class="media-left media-middle media-float">
    <%= image_tag(product.image.medium.url, class: "img-responsive") if product.image? %>
  </div>
  <div class="media-body">
    <h2>
      <%= product.title %><br>
      <span class="badge"><%= number_to_currency(product.price, :unit => "руб.", :delimiter => " ", :format => "%n %u", :precision => 2) %></span>
    </h2>
    <p><%= strip_tags(product.description).truncate(200) %></p>
    <p>
      <%= button_to 'В корзину', line_items_path(product_id: product),
        remote: true, class: "btn btn-success" %>
      <%= link_to 'Подробнее', store_path(product.id) , class: "btn btn-default" %>
    </p>
  </div>
</div>
<% end %>
<%= will_paginate @products, class: "pagginate-top", previous_label: "Назад", next_label: "Вперед", inner_window: @inner_window, outer_window: @outer_window %>
<div class="pagginate-bottom"><%= page_entries_info @products %></div>
