<% provide(:title, @product.title) %>

<div class="row thumbnail">
  <div class="page-header">
    <h2 class="text-center">
      <small><%= @product.id.to_s + '#' %></small> <%= @product.title %><br>
    </h2>
  </div>
  <div class="text-center">
    <span class="badge">Цена: <%= number_to_currency(@product.price, :unit => "руб.", :delimiter => " ", :format => "%n %u", :precision => 2) %></span>
  </div>
  <%= image_tag(@product.image.medium.url, class: "img-responsive") if @product.image? %>
  <div class="caption"><%= form_user_text(@product.description)  %></div>
  <div class="caption">
    <ul class="list-inline">
      <li><%= button_to 'В корзину', line_items_path(product_id: @product),
        remote: true, class: "btn btn-success" %></li>
      <li><%= link_to "Назад", store_index_path, class: "btn btn-warning" %></li>
    </ul>
  </div>
</div>
