<header class="hidden-xs navbar navbar-c navbar-inverse">
  <div class="container">
    <div class="navbar-left navbar-logo">
      <%= image_tag root_url + 'img/logo.png', alt:  'brand' %>
    </div>
    <div class="navbar-brand navbar-left">
      ООО "ГАЛАНТ"
    </div>
    <div class="navbar-brand navbar-right"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 8 (985) 884 81 82</div>
  </div>
</header>
<header class="container">
  <div class="navbar navbar-c navbar-inverse navbar-inverse-c">
    <div class="navbar-header">
      <div class="visible-xs navbar-left navbar-logo">
       <img alt="brand" src="<%= root_url %>/img/logo.png">
     </div>
      <div class="visible-xs navbar-brand navbar-left">
        ООО "ГАЛАНТ"
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="container">
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li <%= "class=active" if params[:controller] == 'page_messegs' %>>
            <%= link_to "Главная",  root_path, title: 'Главная' %>
          </li>
          <li <%= "class=active" if params[:controller] == 'store' %>>
            <%= link_to "Каталог",  store_index_path, title: 'Каталог' %>
          </li>
          <% index_info_list.each do |info| %>
          <li <%= "class=active" if params[:id] == info.id.to_s %>>
            <%= link_to info.title, info, title: info.title %>
          </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if session[:user_id] %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                Панель Администратора
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Заказы",  orders_path, title: 'Заказы' %></li>
                <li><%= link_to "Пользователи", users_path, title: 'Пользователи' %></li>
                <li><%= link_to "Новости", new_page_messeg_path, title: 'Новости' %></li>
                <li><%= link_to "Инфо страницы", infos_path, title: 'Инфо страницы' %></li>
                <li class="divider"></li>
                <li><%= link_to "Продукция",  products_path, title: 'Продукция' %></li>
                <li><%= link_to "Услуги",  services_path, title: 'Услуги' %></li>
                <li><%= link_to "Категории товаров",   groups_path, title: 'Категории товаров' %></li>
                <li><%= link_to "Подкатегории товаров",  subgroups_path, title: 'Подкатегории товаров' %></li>
                <li class="divider"></li>
                <li><%= link_to 'Выход', logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Вход', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
