<% if @cart %>
  <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
    <%= render @cart %>
  <% end %>
  <br>
<% end %>
<div id="sidebar">
  <ul class   ="nav nav-pills nav-stacked">
  <% current_gropus.each do |g| %>
    <li role    ="presentation" class="dropdown">
      <a class    ="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= g.title %><span class="caret"></span>
      <ul class   ="dropdown-menu">
        <% current_subgropus.each do |sg| %>
          <li><%= link_to sg.title, store_path(:g => g.id, :sg => sg.id) %></a></li>
        <% end %>
        <li><%= link_to "Все", store_path(:g => g.id) %></li>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
