<% if @cart %>
  <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
    <%= render @cart %>
  <% end %>
<% end %>

<nav id="nav" class="collapse navbar-collapse">
  <ul class="nav nav-pills nav-stacked">
    <% @sub_g = current_subgropus %>
    <% current_gropus.each do |g| %>
    <% if g.show %>
    <li role="presentation" class="dropdown">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><%= g.title %> <span class="caret"></span></a>
      <ul class="dropdown-menu nav nav-pills nav-stacked">
        <% @sub_g.each do |sg| %>
          <% if sg.products.where(group_id: g.id).count != 0 and sg.show %>
            <li role="presentation"><%= link_to sg.title, store_index_path(:g => g.id, :sg => sg.id) %></li>
          <% end %>
          <% p "1111111111111111111111" %>
        <% end %>
        <li><%= link_to "Все", store_index_path(:g => g.id) %></li>
      </ul>
    </li>
    <% end %>
    <% end %>
  </ul>
</nav>
<%= debug(params) if Rails.env.development? %>
