<div id="cart" class="alert alert-warning">
  <%= render @cart %>
</div>
<div id="sidebar">
  <ul class   ="nav nav-pills nav-stacked">
    <li role    ="presentation" class="dropdown">
      <a class    ="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">IP-камеры видеонаблюдения<span class="caret"></span>
      <ul class   ="dropdown-menu">
        <li><%= link_to "В стандартном исполнении (без объектива) ", "#" %></a></li>
        <li><%= link_to "Купольные", "#" %></li>
        <li><%= link_to "Антивандальные ", "#" %></li>
        <li><%= link_to "Уличные", "#" %></li>
        <li><%= link_to "Скоростные купольные (уличное исполнение)", "#" %></li>
        <li><%= link_to "Фиксированные малогабаритные", "#"%></li>
        <li><%= link_to "Дополнительные аксессуары", "#" %></li>
        <li><%= link_to "Все", "#" %></li>
      </ul>
    </li>
    <li role    ="presentation" class="dropdown">
      <a class    ="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">IP-видеорегистраторы<span class="caret"></span>
      <ul class   ="dropdown-menu">
        <li><%= link_to "До 4-х видео потоков", "#" %></li>
        <li><%= link_to "До 8-х видео потоков", "#" %></li>
        <li><%= link_to "До 16-х видео потоков", "#" %></li>
        <li><%= link_to "Все", "#" %></li>
      </ul>
    </li>
  </ul>
</div>
