<!DOCTYPE html>
<html>
<head>
  <% @search_engiens = SearchEngien.all %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all',
                              'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% @search_engiens.each do |se| %>
    <%= render  html: se.head.html_safe %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/slider' %>
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <aside class="col-sm-4 col-md-3">
        <%= render 'layouts/sidebar' %>
      </aside>
      <!-- End Sidebar -->
      <!-- Content -->
      <div class="col-xs-12 col-sm-8 col-md-9">
        <% flash.each do |key, value| %>
          <div id="notice" class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>

      </div>
      <!-- End Content -->
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
